{% extends 'store/index.html' %}

{% block title %}
  Product List
{% endblock title %}



{% block content %}
{% for products in product_list %}
<div class="card-group">
          {%  for product in products %}
          <div class="card">
            <a href="./product_detail/product_detail.html">
              <img
                src="https://static.re-store.ru/upload/resize_cache/iblock/193/100500_800_140cd750bba9870f18aada2478b24840a/52ikb78ktt0bqz0dhhm0shfo9kev4kes.jpeg"
                class="card-img-top"
                alt="..."
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">
                {{  product.title  }}
              </h5>
              <p class="card-text">
                {{product.info}}
              </p>
              <p class="card-text">
                {{ product.price }}
              </p>
              <ul class="category_list">
                <li><a href="">Iphone</a></li>
                <li><a href="">Iphone</a></li>
                <li><a href="">Iphone</a></li>
              </ul>
            </div>
          </div>
        {% endfor %}
</div>
{% endfor %}
{% endblock content %}

